# Ignore everything by default
*

!/.github/
!/.github/dependabot.yml
!/.github/FUNDING.yml
!/.github/workflows/*.yml

!/.air.toml
!/.gitignore
!/.golangci.yaml
!/.pre-commit-config.yaml
!/.squawk.toml

!/compose.yaml
!/go.mod
!/go.sum
!/Makefile
!/README.md
!/sqlc.yaml
!/tern.conf
!/Taskfile.dist.yml

# Track assets
!/assets/
!/assets/assets.go
!/assets/templates/ads.txt
!/assets/favicon.png

# Vendored CSS
!/assets/css/
!/assets/css/index.css
!/assets/css/**.min.css

# Vendored JS
!/assets/js/
!/assets/js/***

!/assets/templates/
!/assets/templates/*.html

!/cmd/
!/cmd/**/
!/cmd/**/*.go

# Track components
!/components/
# Track templ templates
!/components/**/*.templ
# and any go files
!/components/**/*.go
# but not generated templ files
/components/**/*_templ.go

!/internal/db/queries/
!/internal/db/queries/**/
!/internal/db/queries/**/*.sql

!/migrations/
!/migrations/**/
!/migrations/**/*.sql

!/tools/
!/tools/go.*

!/internal/
!/internal/**/
!/internal/**/*.go
!/internal/db/queries/*.sql
