beautifulsoup4==4.6.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
cssmin==0.2.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Caching==1.4.0
Flask-Compress==1.4.0
Flask-Minify==0.8
gunicorn==19.8.1
htmlmin==0.1.12
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jsmin==2.2.2
lesscpy==0.13.0
MarkupSafe==1.0
ply==3.11
redis==2.10.6
requests==2.19.1
six==1.11.0
urllib3==1.23
webassets==0.12.1
Werkzeug==0.14.1
