<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Arrowverse Episode Order</title>
    <link type="image/png" href="/static/favicon.png" rel="icon">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<main class="container">
    <div class="row">
        <div class="col">
            <p class="h1">Arrowverse Episode Order</p>
        </div>
        <div class="col-2">
            <a href="https://github.com/AceFire6/ordered-arrowverse"
               class="btn btn-outline-secondary"
               target="_blank">
                Project on Github
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="row">

                <div class="col-11">
                    <select id="show-filter-select"
                        title="Filter options"
                        name="shows[]"
                        multiple="multiple">
                        {% for show_id, show_data in show_list.items() %}
                            <option value="{{ show_id }}" {% if show_id in hidden_list %}selected{% endif %}>
                                {{ show_data.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <button type="button" id="filter-button" class="btn btn-outline-secondary">
                        Filter
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <div class="float-right">
                <a href="#end" id="top"><small>END</small></a> |
                {% if newest_first %}
                    <a href="{{ oldest_first_url }}"><small>OLDEST FIRST</small></a>
                {% else %}
                    <a href="newest_first"><small>NEWEST FIRST</small></a>
                {% endif %}
                | <a href="#" id="no-color"><small class="text">DISABLE COLOR</small></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered" id="episode-list">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Series</th>
                    <th>Episode</th>
                    <th>Name</th>
                    <th>Original Air Date</th>
                </tr>
                </thead>
                <tbody>
                {% for row in table_content %}
                    <tr class='episode {{ series_map[row.series].id }}' data-href="{{ row.episode_name | episode_url(row.series) }}">
                    <td>{{ row.row_number }}</td>
                    <td>{{ row.series }}</td>
                    <td>{{ row.episode_id }}</td>
                    <td>{{ row.episode_name }}</td>
                    <td>{{ row.air_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="#top" id="end">BACK TO TOP</a>
    <div id="footer-buttons">
        <button type="button"
                class="btn btn-outline-secondary btn-sm"
                data-toggle="modal"
                data-target="#contact">
            <small>Contact Me</small>
        </button>
        <button type="button"
                class="btn btn-outline-secondary btn-sm"
                data-toggle="modal"
                data-target="#acknowledgements">
            <small>Acknowledgements</small>
        </button>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="acknowledgements">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Acknowledgements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Content is drawn from:
                    <ul>
                        {% for show_id, show_data in show_list.items() %}
                            <li>
                                <a href="{{ show_data.root }}{{ show_data.url }}" target="_blank">
                                    {{ show_data.url|replace("_", " ") }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="contact">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Made by Jethro Muller</p>
                    <p>To contact me, <a href="mailto:git+ordering@jethromuller.co.za" target="_blank" type="email">email me</a>.</p>
                    <p>Or, view my other projects on <a href="http://www.github.com/AceFire6" target="_blank">Github</a>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" rel="script" src="/static/js/cookie.js"></script>
    <script type="text/javascript" rel="script" src="/static/js/index.js"></script>
    {% include 'analytics.html' %}
</main>
</body>
</html>
