package components

import "github.com/AceFire6/ordered-arrowverse/internal/frontend"

templ EpisodeRow(row frontend.TableRow) {
    <tr class={ "episode", row.ShowSlug }>
        <td>{ row.RowNumber }</td>
        <td>{ row.Series }</td>
        <td>{ row.EpisodeId }</td>
        <td>{ row.EpisodeName }</td>
        <td>{ row.AirDate }</td>
        <td>
            <a href={ row.SourceLink } target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                    <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"></path>
                    <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"></path>
                </svg>
            </a>
        </td>
    </tr>
}

templ EpisodesTable(tableContent []frontend.TableRow) {
    <div class="table-responsive">
        <table class="table table-bordered col-sm-12" id="episode-list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Series</th>
                    <th>Episode</th>
                    <th>Name</th>
                    <th>Original Air Date</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                if len(tableContent) == 0 {
                    <td class="episode" colspan="6">No episodes found</td>
                } else {
                    for _, row := range tableContent {
                        @EpisodeRow(row)
                    }
                }
            </tbody>
        </table>
    </div>
}
