package components

import "github.com/AceFire6/ordered-arrowverse/internal/frontend"
import "slices"

templ Home(reverser frontend.URLReverser, tableContent []frontend.TableRow, newestFirst bool, showList []frontend.ShowData, hiddenShowList []string, fromDate string, toDate string) {
        <main>
            <div class="container">
                <form action={ reverser.Reverse("view:home") } id="filter-form" method="get" class="row form-inline">
                    <div class="col-sm">
                        <input name="newest_first" value={ newestFirst } title="Newest First" type="hidden">
                        <select id="show-filter-select"
                                title="Filter options"
                                name="hide_show"
                                multiple="multiple"
                                class="form-control">
                                for _, showData := range showList {
                                    <option value={ showData.Slug }
                                       if slices.Contains(hiddenShowList, showData.Slug) {
                                        selected
                                       }>
                                        { showData.Name }
                                    </option>
                                }
                        </select>
                    </div>
                    <div class="col-sm">
                        <div class="row">
                            <div class="col-6 col-md-5">
                                <input title="From Date"
                                   class="form-control date-picker"
                                   type="text"
                                   name="from_date"
                                   id="from-date"
                                   if len(fromDate) != 0 {
                                        value={ fromDate }
                                   }
                                   placeholder="From Date">
                            </div>
                            <div class="col-6 col-md-5">
                                <input title="To Date"
                                       class="form-control date-picker"
                                       type="text"
                                       name="to_date"
                                       id="to-date"
                                       if len(toDate) != 0 {
                                           value={ toDate }
                                       }
                                       placeholder="To Date">
                            </div>
                            <div class="col-12 col-md-2">
                                <button type="submit"
                                    id="filter-button"
                                    class="btn btn-outline-secondary"
                                    form="filter-form">
                                    Filter
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <div class="row text-center text-sm-end">
                    <div class="col-sm-12">
                        <a href="#end" id="top"><small>END</small></a> |
                        <a href={ reverser.Reverse("view:home", !newestFirst, hiddenShowList) }>
                            if newestFirst {
                                <small>OLDEST FIRST</small>
                            } else {
                                <small>NEWEST FIRST</small>
                            }
                        </a>
                        | <a href="#" id="no-color"><small class="text">DISABLE COLOR</small></a>
                        | <a href="#" id="dark-mode"><small class="text">TOGGLE DARK MODE</small></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        @EpisodesTable(tableContent)
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a href="#top" id="end">BACK TO TOP</a>
                    </div>
                </div>
            </div>
        </main>
}
