package components

import "github.com/AceFire6/ordered-arrowverse/internal/frontend"

templ NavBar(pageConfig *frontend.PageConfig) {
	<nav class="navbar">
		<div class="container nav-inner">
			<a class="brand" href="/">Arrowverse Episode Order</a>
			<a class="support-link" href="#" data-modal-open="support">Support Arrowverse.info</a>
			<a href="https://github.com/AceFire6/ordered-arrowverse" target="_blank">Project on GitHub</a>
			<a href={ pageConfig.Reverse("view:rss:recent-episodes") } target="_blank" class="rss-link">
				RSS Feed
				<img src="https://www.mozilla.org/media/img/trademarks/feed-icon-14x14.2168a573d0d4.png"
					alt="RSS Logo"/>
			</a>
		</div>
	</nav>
}
