body.dark-mode {
    background-color: #1c1c1c;
}

a.dark-mode {
    color: #f6f6f6;
}

.modal-content.dark-mode {
    color: #f6f6f6;
    background-color: #212121;
}

.btn-close.dark-mode {
    background-color: #f6f6f6;
}

#episode-list td a {
    color: #f6f6f6;
}

a.btn {
    display:inline;
}

#episode-list thead {
    color: #f6f6f6;
    background-color: #333333;
}

#show-filter-select {
    display: none;
}

.episode {
    color: #f6f6f6;
}

.arrow {
    background-color: #006200;
}

.arrow:hover {
    background-color: #004e00;
}

.batwoman {
    background-color: #692e69;
}

.batwoman:hover {
    background-color: #470e47;
}

.black-lightning {
    background-color: #464340;
}

.black-lightning:hover {
    background-color: #383532;
}

.constantine {
    background-color: #d74014;
}

.constantine:hover {
    background-color: #be3915;
}

.flash {
    background-color: #a50400;
}

.flash:hover {
    background-color: #910400;
}

.freedom-fighters {
    background-color: #b4a242;
}

.freedom-fighters:hover {
    background-color: #a08e41;
}

.legends {
    background-color: #003E3E;
}

.legends:hover {
    background-color: #002a2a;
}

.stargirl {
    background-color: #12223A;
}

.stargirl:hover {
    background-color: #120e3a;
}

.supergirl {
    background-color: #007196;
}

.supergirl:hover {
    background-color: #005e82;
}

.superman-and-lois {
    background-color: #4b6c7a;
}

.superman-and-lois:hover {
    background-color: #324951;
}

.vixen {
    background-color: #3c0096;
}

.vixen:hover {
    background-color: #280082;
}

.no-color {
    background-color: transparent;
    color: #000;
}

.no-color:hover {
    background-color: transparent;
}

nav.navbar {
    margin-bottom: 1rem;
}

table.table {
    margin: 0;
}
