a.btn {
    display:inline;
}

#episode-list thead {
    color: #FFF;
    background-color: #333333;
}

#show-filter-select {
    display: none;
}

.episode {
    cursor: pointer;
    color: #FFF;
}

.arrow {
    background-color: #006200;
}

.arrow:hover {
    background-color: #004e00;
}

.flash {
    background-color: #a50400;
}

.flash:hover {
    background-color: #910400;
}

.freedom-fighters {
    background-color: #b4a242;
}

.freedom-fighters:hover {
    background-color: #a08e41;
}

.legends {
    background-color: #003E3E;
}

.legends:hover {
    background-color: #002a2a;
}

.supergirl {
    background-color: #007196;
}

.supergirl:hover {
    background-color: #005e82;
}

.vixen {
    background-color: #3c0096;
}

.vixen:hover {
    background-color: #280082;
}

.constantine {
    background-color: #d74014;
}

.constantine:hover {
    background-color: #be3915;
}

.black-lightning {
    background-color: #464340;
}

.black-lightning:hover {
    background-color: #383532;
}

.batwoman {
    background-color: #692e69;
}

.batwoman:hover {
    background-color: #470e47;
}

.no-color {
    background-color: transparent;
    color: #000;
}

.no-color:hover {
    background-color: transparent;
}

nav.navbar {
    margin-bottom: 1rem;
}

table.table {
    margin: 0;
}
