name: Lint Python Files

on:
  pull_request:
    paths:
      - 'ordering/*.py'

concurrency:
  group: lint-python-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  lint-python:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Get OS Version
      run: echo "os_version=$(lsb_release -sr)" >> $GITHUB_ENV

    - name: Cache pip
      id: cache-pip
      uses: actions/cache@v2
      with:
        path: |
          ${{ env.pythonLocation }}
          ~/.cache/pip
        key: ${{ runner.os }}-${{ env.os_version }}-${{ env.pythonLocation }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-${{ env.os_version }}-${{ env.pythonLocation }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install -r requirements.txt

    - name: Lint with flake8
      run: flake8 --count --show-source --statistics .
